#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'JetBrains Mono';
}

.hangman{ height: 40dvh; }
#word{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  &.solved { color: lime; }
  .letterBox { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 1.5rem;
    height: 2rem;
    border-bottom: 3px solid white;
    padding: 0 4px 12px;
    margin: 1rem;
    color: inherit;
  }
}
#keyboard{ 
  margin-block: 1rem; 
  button { margin: 2px; }
  button.used { opacity: 0.5; outline: none; border-width: 0px;}
}