.bid-board{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 4.5fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "board-house board-numbers board-rows"
    ". board-columns ."
    ". board-specials .";
    
  > div { display: grid; }
  .board-numbers { grid-area: board-numbers; }
  .board-house { grid-area: board-house; }
  .board-rows { grid-area: board-rows; }
  .board-columns { grid-area: board-columns; }
  .board-specials { grid-area: board-specials; }

}

.board-numbers{
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
}
.board-rows{
  grid-template-rows: repeat(3, 1fr);
}
.board-columns{
  grid-template-columns: repeat(3, 1fr);
}
.board-specials{
  grid-template-columns: repeat(6, 1fr);
}