#roulette {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;

  &.animating{
    pointer-events: none;
    cursor: default;
        
    img {
      animation: rotate-roulette 4s cubic-bezier( 0.25, 0.95, 0.65, 1 );
    }

    span{
      transition: all 100ms linear;
      transform: translate(-50%, -52%) scale(0) ;
    }
  }

  img{
    width: 24rem;
  }

  span{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52%) scale(1);
    color: white;
    font-size: 4rem;
    font-family: var(--font-display);
    font-weight: bold;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: transform 500ms ease-out;
    box-shadow: 0 0 12px black;

    &.red{ background-color: #ba2826; }
    &.black{ background-color: #121212; }
    &.green{ background-color: #365c3a; }
  }
}

@keyframes rotate-roulette {
  from { transform: rotate(0); }
  to { transform: rotate(5turn); }
}