#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav a {
  padding: 8px;
}

#author-grid {
  display: grid;
  width: 80dvw;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;

  > a > div {
    display: flex;
    align-items: center;
    text-align: start;
    gap: 8px;

    padding: 12px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 100ms ease-out;

    color: white !important;

    &:hover { 
      background-color: #ffffff2c;
      transform: scale(1.03);
      box-shadow: 0 0 8px #ffffff64;
    }

    h4 {margin: 0;}
    p {margin: 0;}
    img{ height: 48px; border-radius: 4px; }
  }
}